.clear{
	float: none;
	clear: both;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}


a:link{
	font-style: none;
	text-decoration: none;
}


.browser_center{
	margin-left: auto;
	margin-right: auto;
}


#all_container{
	margin-top: 50px;	
	margin-left: auto;	
	margin-right: auto;	
	margin-bottom: 50px;	
	width:1020px;
	height:auto;
	font-family: Univers-PC-Condensed-BOLD;
	
}

.debug{
	/*border-width:1px;*/
	background-color:#FFEEDD;
}